body {
    background-image: url(/Revisão/img/images.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: Arial, sans-serif;
}
